Data/
Dataset/
Dokumenta/
Izvestaj/Junk
Izvestaj/Slike za izvestaj
Izvestaj/Slike za prezentaciju
Izvestaj/Stampanje
Izvestaj/~$bor obeležja u sistemu za detekciju pukotina na građevinskim površinama.docx
Izvestaj/Izbor obeležja u sistemima za detekciju pukotina na građevinskim površinama.docx
Literatura/
Obelezja/Junk/
Obelezja/Old/
Random kodovi/
GA_save.mat
SVM_save.mat
uporedna_analiza.mat
junk.py